/* CSS for the heading text on the how to play page, but background CSS has been moved to index.css */
.heading{
  font-family: sans-serif;
  margin-left: 40%;
  font-style: bold;
  color: navy;
}


.background{
  background-color: white;
  opacity: 50%;
}
